doctype html
html(lang="es")
  head
    title Pagina de inicio
    link(href="https://code.getmdl.io/1.3.0/material.teal-pink.min.css", rel='stylesheet')
    link(href='/asset/css/style.css', rel='stylesheet')
    script(src='/asset/js/app.js')
  body
    div.fondo
      h1 todo listo
